//Light mode

$dark-grey: #3e606d;
$white: #fff;
$off-white: #fffffe;
$off-black: #20262f;
$red: #f93a5b;
$yellow: #fcae49;
$green: #68cba3;

// Dark mode
$colour1: #af43be;
$colour2: #fd8090;
$colour3: #c4ffff;
$colour4: #80deea;
$colour5: #1261d1;

$container-background: rgba($colour5, 0.5);
