@import "./_colours.scss";

.lights {
  -webkit-transform: translate3d(0, 0, 0);

  position: absolute;
  top: 0;
  left: 0;
  z-index: -999;
}

.bulbs ellipse {
  rx: 2.5px;
  ry: 2.5px;
}

.light-mode {
  & .bulbs-set1 ellipse,
  .bulbs-set1 path {
    fill: $red;
  }

  & .bulbs-set2 ellipse,
  .bulbs-set2 path {
    fill: $yellow;
  }

  & .bulbs-set3 ellipse,
  .bulbs-set3 path {
    fill: $green;
  }

  & .bulb-halo-effect ellipse {
    fill: $white;
  }

  & .wires {
    stroke: $off-black;
    fill: none;
  }

  & .sockets {
    fill: $off-black;
    stroke: $off-black;
  }

  & .bar {
    fill: $dark-grey;
  }
}

.dark-mode {
  & .bulbs-set1 ellipse,
  .bulbs-set1 path {
    fill: $colour1;
  }

  & .bulbs-set2 ellipse,
  .bulbs-set2 path {
    fill: $colour2;
  }

  & .bulbs-set3 ellipse,
  .bulbs-set3 path {
    fill: $colour5;
  }

  & .bulb-halo-effect ellipse {
    fill: $colour2;
  }

  & .wires {
    stroke: $colour5;
    fill: none;
  }

  & .sockets {
    fill: $colour5;
    stroke: $colour5;
  }

  & .bar {
    fill: $colour1;
  }
}

.bulbs--flash ellipse:nth-child(3n) {
  -webkit-animation: 3s flash infinite;/* Safari 4+ */
  -moz-animation: 3s flash infinite; /* Fx 5+ */
  -o-animation: 3s flash infinite; /* Opera 12+ */
  animation: 3s flash infinite; /* IE 10+, Fx 29+ */
}

.bulbs--flash ellipse:nth-child(3n + 1) {
  -webkit-animation: 3s flash 1s infinite; /* Safari 4+ */
  -moz-animation: 3s flash 1s infinite; /* Fx 5+ */
  -o-animation: 3s flash 1s infinite; /* Opera 12+ */
  animation: 3s flash 1s infinite; /* IE 10+, Fx 29+ */
}

.bulbs--flash ellipse:nth-child(3n + 2) {
  -webkit-animation: 3s flash 2s infinite; /* Safari 4+ */
  -moz-animation: 3s flash 2s infinite; /* Fx 5+ */
  -o-animation: 3s flash 2s infinite; /* Opera 12+ */
  animation: 3s flash 2s infinite;; /* IE 10+, Fx 29+ */
}

.bulb-halo-effect ellipse:nth-child(3n) {
  -webkit-animation: 3s whiteflash infinite; /* Safari 4+ */
  -moz-animation: 3s whiteflash infinite; /* Fx 5+ */
  -o-animation: 3s whiteflash infinite; /* Opera 12+ */
  animation: 3s whiteflash infinite; /* IE 10+, Fx 29+ */
}

.bulb-halo-effect ellipse:nth-child(3n + 1) {
  -webkit-animation: 3s whiteflash 2s infinite; /* Safari 4+ */
  -moz-animation: 3s whiteflash 2s infinite; /* Fx 5+ */
  -o-animation: 3s whiteflash 2s infinite; /* Opera 12+ */
  animation: 3s whiteflash 2s infinite; /* IE 10+, Fx 29+ */
}

.bulb-halo-effect ellipse:nth-child(3n + 2) {
  -webkit-animation: 3s whiteflash2 infinite; /* Safari 4+ */
  -moz-animation: 3s whiteflash2 infinite; /* Fx 5+ */
  -o-animation: 3s whiteflash2 infinite; /* Opera 12+ */
  animation: 3s whiteflash2 infinite; /* IE 10+, Fx 29+ */
}

@keyframes flash {
  0% {
    opacity: 1;
    rx: 2.5px;
    ry: 2.5px;
  }
  66% {
    opacity: 0.8;
    rx: 3.5px;
    ry: 3.5px;
  }
  100% {
    opacity: 1;
    rx: 2.5px;
    ry: 2.5px;
  }
}

@keyframes whiteflash {
  0% {
    opacity: 0.5;
    rx: 5px;
    ry: 5px;
  }
  66% {
    opacity: 0.1;
    rx: 1px;
    ry: 1px;
  }
  100% {
    opacity: 0.5;
    rx: 5px;
    ry: 5px;
  }
}

@keyframes whiteflash2 {
  0% {
    opacity: 0.1;
    rx: 1px;
    ry: 1px;
  }
  50% {
    opacity: 0.5;
    rx: 5px;
    ry: 5px;
  }
  100% {
    opacity: 0.1;
    rx: 1px;
    ry: 1px;
  }
}
