.controls {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.controls__panel {
  fill: #3e606d;
}

.controls__icon {
  stroke: red;
}

.controls__sun {
  fill: #fcae49;

  & path {
    stroke: black;

    stroke-width: 0.5px;
  }
}

.controls__moon {
  fill: #68cba3;

  & path {
    stroke: black;
    stroke-width: 1px;
  }
}
